.container {
  background-color: #cee1d6;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 20px;
  z-index: 10;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__relative {
    position: relative;
  }

  &__list {
    padding: 0px;
    position: absolute;
    right: 55px;
    list-style-type: none;
    background-color: #f4f3f0;
    z-index: 100;
    margin-top: 0;
    width: 170px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__listItems {
    padding: 10px;
  }

  &__listItems:hover {
    background-color: rgb(200, 218, 200);
  }

  &__text {
    text-align: center;
  }
}
